{% extends 'base.html.twig' %}

{% block title %}Années scolaire
{% endblock %}

{% block body %}

	<section class="w-full mr-auto">
		<div class="flex flex-col sm:flex-row sm:items-center items-start justify-between">
			<h1 class="font-medium text-[#1F384C] text-[26px] mb-[10px]">
				Années scolaire
			</h1>
			{% include 'composants/button.html.twig' with {
                    label: 'Ajouter une année',
                    type: 'confirm',
					url: path('school_year_add'),
            } %}
		</div>
		<p class="font-medium font-[16px] pt-[10px] pb-[30px]">
			Les années scolaires permettent de garder en mémoire les interventions réalisées sur les années antérieures. 
			La dernière période de cours sur l’année permet de déterminer la fin de l’année. Lorsque cette dernière période de cours est passée, 
			le programme passe automatiquement à l’année suivante (prochaine saison).
		</p>

		{% embed 'composants/table.html.twig' with {
			headers: ['Année promotion', 'Saison', '']
		} %}
			{% block body %}
				{# schoolYear est une instance de l'entité App\Entity\SchoolYear #}
				{% for schoolYear in dataSchoolYear %}
					<tr>
						<td class="px-[25px] py-[20px] text-[#1F384C] text-[14px] font-medium">{{ schoolYear.getName() }}</td>
						<td class="px-[25px] py-[20px] text-[#1F384C] text-[14px] font-medium">{{ schoolYear.getStartDate()|date('Y') }}
							/
							{{ schoolYear.getEndDate()|date('Y') }}
						</td>
						<td class="px-[25px] py-[20px] flex items-center gap-2">
							<img class="w-[16px] h-[16px]" src="{{ asset('img/oeil (1).png') }}" alt="">
							<a href="{{ path('school_year_edit', { id: schoolYear.id }) }}" class="text-[#1F384C] text-[14px] font-medium">Accéder à la fiche</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3" class="px-[25px] py-[20px] text-[14px] text-center text-gray-500">Aucun résultat trouvé</td>
					</tr>
				{% endfor %}
			{% endblock %}
		{% endembed %}

		{# On appelle la fonction de pagnination #}
		{{ knp_pagination_render(dataSchoolYear, 'composants/pagination.html.twig') }}

	</section>

{% endblock %}
