{% extends 'teaching_block/list.html.twig' %}

{% block title %}Bloc d'enseignement
{% endblock %}

{% block breadcrumb %}
    {{ parent() }} <span class="mx-1">></span> {{ teachingBlock.getCode() }}
{% endblock %}

{% block body %}

<section class="w-full mr-auto">
	<h1 class="text-[#1F384C] text-[26px] font-medium">
		{{ teachingBlock.getCode() }}
		:
		{{ teachingBlock.getName() }}
	</h1>

	{{form_start(form)}}

	<div class="flex md:flex-row flex-col gap-3 mt-4">
		{% include "composants/form_champ_text.html.twig" with {
            'label': 'Code du bloc - champ obligatoire',
            'field': form.code,
        } %}

		{% include "composants/form_champ_text.html.twig" with {
            'label': 'Nom du bloc - champ obligatoire',
            'field': form.name
        } %}
	</div>

	<div class="flex flex-col gap-4 mt-4">
		{% include "composants/form_champ_text.html.twig" with {
            'label': 'Nombre d\'heures - champ obligatoire',
            'field': form.hours_count
        } %}

        {% include "composants/form_champ_text.html.twig" with {
            'label': 'Description - champ obligatoire',
            'field': form.description,
        } %}
    </div>

    <div class="flex flex-col sm:flex-row gap-6 items-center pt-5">
        {% include 'composants/button.html.twig' with {
            label: 'Retour à la liste',
            type: 'cancel',
            url: path('teaching_block')
        } %}

        {% include 'composants/button.html.twig' with {
            label: 'Enregistrer les informations',
            type: 'confirm'
        } %}
    </div>

		{{ form_end(form) }}
</section>

{% endblock %}
